<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.eemp.modules.edu.statistics.mapper.EduInformatizationBasicInfo_1Mapper">

    <!-- 查找最新的年度记录 -->
    <select id="findNewestYearlyRecord" resultType="java.util.HashMap">
        <if test="dbType == 'mysql'">
            select a.*
            from
              edu_informatization_basic_info_1 a
              join
              ( select identification_code, date_format(fill_date, '%Y') as year, max(fill_date) maxdate
                from `edu_informatization_basic_info_1`
                where fill_date &gt;= #{dayStart} and fill_date &lt; #{dayEnd}
                group by identification_code, year ) b
              on a.identification_code = b.identification_code and a.fill_date = b.maxdate
        </if>
        <if test="dbType == 'h2'">
            select a.*
            from
              edu_informatization_basic_info_1 a
              join
              ( select identification_code, to_char(fill_date, 'yyyy') as year, max(fill_date) maxdate
                from `edu_informatization_basic_info_1`
                where fill_date &gt;= #{dayStart} and fill_date &lt; #{dayEnd}
                group by identification_code, year ) b
              on a.identification_code = b.identification_code and a.fill_date = b.maxdate
        </if>
    </select>

</mapper>