<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.eemp.modules.school.mapper.SchoolBasicInfoMapper">

	<delete id="deleteByMainId" parameterType="java.lang.String">
		DELETE 
		FROM  school_basic_info 
		WHERE
			 identification_code = #{mainId} 	</delete>
	
	<select id="selectByMainId" parameterType="java.lang.String" resultType="org.eemp.modules.school.entity.SchoolBasicInfo">
		SELECT * 
		FROM  school_basic_info
		WHERE
			 identification_code = #{mainId} 	</select>
</mapper>
